body{
    background-image:url(assets/Design\ sem\ nome.png);
}
.amarelo{
    background-color: rgb(72, 153, 86);
    padding: 10px;
    display: inline;
    border-radius: 5px;
    margin: 10px;
    color: aliceblue;
}
.center{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-inline: 600px;
}
.bt{
    display: inline;
}
#resultado{
    background-color: aliceblue;
    display: inline;
    border-radius: 5px;
}
.hidden{
    display: none;
}
#cachorro{
    background-color: green;
    border: 500px;
    border-radius: 10px;
    padding: 10px;
    position:absolute;
}